<div class="login-container">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="Burgan Bank">
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
            <img src="/assets/img/bell.png">
          </div>
          <div class="col-auto warning">
            Onaylamanız gereken evraklar bulunmaktadır.
            <br/>Onaylamak için IB şifrenizle giriş yapınız.
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col">
            <div class="form-group">
              <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name" placeholder="Ad Soyad">
            </div>
            <small class="text-danger" *ngIf="submitted&&!name">Lütfen Ad Soyad giriniz.</small>
            <a class="btn btn-primary w-100 mt-3" (click)="login()">İnternet Bankacılığına Giriş Yap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
