<div class="login-container">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="Burgan Bank">
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 *ngIf="code&&state">Yükleniyor...</h1>
        <div *ngIf="!code&&!state">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <img src="/assets/img/bell.png">
            </div>
            <div class="col-auto warning">
              Onaylamanız gereken evraklar bulunmaktadır.
              <br/>Onaylamak için IB şifrenizle giriş yapınız.
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col">
              <a class="btn btn-primary w-100 mt-3" (click)="login()">İnternet Bankacılığı Şifresi ile Giriş Yap</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
