<div class="login-container">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="Burgan Bank">
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
            <img src="/assets/img/bell.png">
          </div>
          <div class="col-auto warning">
            Onaylamanız gereken evraklar bulunmaktadır.
            <br/>Onaylamak için IB şifrenizle giriş yapınız.
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col">
            <a [routerLink]="['/']" class="btn btn-primary w-100">İnternet Bankacılığına Giriş Yap</a>
          </div>
        </div>
        <div class="row">
          <div class="col approve-detail">
            <span class="title">Onay Detayları</span>
            <div class="box">
              Sigorta Teklif Talimatı
              <ul>
                <li>1- Mng Hayat Teklif Alma İzni</li>
                <li>2- Mng Hayat Teklif Sözleşmesi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
