<ngx-smart-modal #document identifier="document" [customClass]="'custom-modal'">
  <ng-container *ngIf="modalDetail?.type==='File';else second">
    <img [src]="modalDetail?.content" *ngIf="modalDetail?.content.indexOf('data:image')>-1;else fileContent">
    <ng-template #fileContent>
      {{modalDetail?.content}}
    </ng-template>
  </ng-container>
  <ng-template #second>
    <ng-container *ngIf="modalDetail?.type==='PDF';else third">
      <iframe [src]="modalDetail?.content | safe"
              width="100%"
              height="500"></iframe>
    </ng-container>
  </ng-template>
  <ng-template #third>
    <ng-container *ngIf="modalDetail?.type==='HTML';else normalContent">
      <iframe [srcdoc]="modalDetail?.content | safeHtml" width="100%"
              height="500"></iframe>
    </ng-container>
  </ng-template>
  <ng-template #normalContent>
    {{modalDetail?.content}}
  </ng-template>
</ngx-smart-modal>
<app-main-content blockTitle="İstediğim Onaylar" [subTitle]="data&&data.title">
  <div right class="d-flex justify-content-end">
    <button class="btn btn-outline-white px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 me-3" (click)="cancelOrder()" *ngIf="data&&data.orderState==='Pending'">İptal
      Et
    </button>
    <button class="btn text-white px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 cursor-none no-hover"
            [ngClass]="data&&data.orderState | stateClass">
      {{data&&data.orderState|state}}
    </button>
  </div>
  <div class="box mb-4">
    <div class="title">Belgeler</div>
    <table class="table">
      <tbody>
      <tr *ngFor="let d of data&&data.documents">
        <td class="pl-15px no-wrap">
          <img src="/assets/img/eye.png" class="c-pointer" (click)="openModal(d)">
        </td>
        <td>{{d.typeName}}</td>
        <td>{{d.name}}</td>
        <td>{{d.title}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box mb-4 py-3" *ngIf="data">
    <div class="px-15px">
      <div class="row">
        <div class="col-8">
          <div>Başlık</div>
          <p class="fs-18 fw-600">{{data.title}}</p>
        </div>
        <div class="col">
          <div>Onaycı</div>
          <p class="fs-18 fw-600">{{data.nameAndSurname}}</p>
        </div>
      </div>
    </div>
    <div class="title no-border">Referans</div>
    <div class="px-15px">
      <div class="row">
        <div class="col">
          <div>İşlem</div>
          <p class="fs-18 fw-600">{{data.process}}</p>
        </div>
        <div class="col">
          <div>Aşama</div>
          <p class="fs-18 fw-600">{{data.state}}</p>
        </div>
        <div class="col">
          <div>İşlem No</div>
          <p class="fs-18 fw-600">{{data.processNo}}</p>
        </div>
      </div>
    </div>
    <div class="title no-border">Ayarlar</div>
    <div class="px-15px">
      <div class="row">
        <div class="col">
          <div>Geçerlilik</div>
          <p class="fs-18 fw-600">{{data.expireInMinutes}} dk</p>
        </div>
        <div class="col">
          <div>Hatırlatma Frekansı</div>
          <p class="fs-18 fw-600">{{data.retryFrequence}} dk</p>
        </div>
        <div class="col">
          <div>Hatırlatma Sayısı</div>
          <p class="fs-18 fw-600">{{data.maxRetryCount}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="box" *ngIf="data">
    <div class="title border-0">Tarihçe</div>
    <table class="table">
      <thead>
      <tr>
        <th class="pl-15px">İşlem</th>
        <th>Belge</th>
        <th class="fit pr-15px">İşlem Tarihi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let h of data.history">
        <td class="pl-15px">{{h.state}}</td>
        <td>{{h.description}}</td>
        <td class="fit pr-15px">{{h.createdDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="box pb-15px">
     <div class="title no-border">
       Onaycı
     </div>
     <p class="fs-18 px-15px fw-600">Uğur Karataş</p>
     <div class="px-15px mb-3">
       <div class="row">
         <div class="col-auto">
           <div class="circle"></div>
         </div>
         <div class="col">
           <span class="text-grey fs-14">11 Aralık 2021</span>
           <div>
             <div class="row">
               <div class="col-auto">
                 <img src="/assets/img/letter.png">
               </div>
               <div class="col ps-0">
                 <ul class="list-none text-grey fs-14">
                   <li>1 - 11 Aralık 2021</li>
                   <li>2 - 12 Aralık 2021</li>
                   <li>3 - 13 Aralık 2021</li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="px-15px">
       <div class="row align-items-center">
         <div class="col-auto">
           <div class="circle-filled"></div>
         </div>
         <div class="col">
           <span class="text-grey fs-14">15 Aralık 2021</span>
         </div>
       </div>
     </div>
   </div>-->
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary px-5 mt-5" [routerLink]="['..']">Geri Dön
    </button>
  </div>
</app-main-content>
