<app-main-content blockTitle="İzleme" subTitle="En az bir kriter girmelisiniz">
  <div right>
    <app-main-content-button-group></app-main-content-button-group>
  </div>
  <div class="box p-4 mb-4">
    <div class="alert alert-danger"
         *ngIf="ngForm.submitted &&formGroup.hasError('atLeastOneValueRequired')">Kriter girilmelidir
    </div>
    <form [formGroup]="formGroup" #ngForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="customer">Onaycı</label>
            <input type="text" class="form-control" id="customer" name="customer" formControlName="customer"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="approver">Onay İsteyen</label>
            <input type="text" class="form-control" id="approver" name="approver"
                   formControlName="approver">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="process">İşlem</label>
            <input type="text" class="form-control" id="process" name="process" formControlName="process"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="state">Aşama</label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="processNo">İşlem No</label>
            <input type="text" class="form-control" id="processNo" name="processNo" formControlName="processNo"
            >
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end mt-4">
        <div class="col-md col-md-auto col-sm-12 d-flex">
          <button class="btn btn-outline-primary me-4 px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 w-100" type='button'
                  (click)="clear(ngForm)">Temizle
          </button>
          <button class="btn btn-primary px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 w-100" type="submit">Sorgula</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box" *ngIf="data && data.length > 0">
    <table class="table table-custom">
      <thead>
      <tr>
        <th class="col-auto">Sözleşme Adı</th>
        <th class="col-auto">Onaycı</th>
        <th class="col-auto">Onay İsteyen</th>
        <th class="col-auto">İşlem</th>
        <th class="col-auto">Aşama</th>
        <th class="col-auto">İşlem No</th>
        <th class="col-auto">Oluşturulma Tarihi</th>
        <th class="col-auto text-end">Durumu</th>
        <th class="col-auto"></th>
        <th class="col-auto"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="c-pointer"
          *ngFor="let row of data"
          [routerLink]="['./detail']" [queryParams]="{orderId:row.orderId}">
        <td class="col-auto">{{row.title}}</td>
        <td class="col-auto">{{row.customer}}</td>
        <td class="col-auto">{{row.approver}}</td>
        <td class="col-auto">{{row.process}}</td>
        <td class="col-auto">{{row.state}}</td>
        <td class="col-auto">{{row.processNo}}</td>
        <td class="col-auto">{{row.date}}</td>
        <td class="status" [ngClass]="row.orderState | stateClass">
          {{row.orderState | state}}
          <span class="status-box"></span>
        </td>
        <td class="col-auto">
          <img src="/assets/img/attachment.png" *ngIf="row.isDocument">
        </td>
        <td class="col-auto">
          <div class="icon">
            <img src="/assets/img/right-arrow.png">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-end mt-3" *ngIf="data && data.length > 0">
    <span>Page:</span>
    <select class="form-control-sm ms-2 me-2" [(ngModel)]="pageNumber" (change)="getWatchApproval()">
      <option *ngFor='let i of counter(totalPages); let val = index' [value]="val+1">{{val + 1}}</option>
    </select>
    <span class="me-3">of {{totalPages}}</span>
    <button class="bi-chevron-left me-2"
            (click)="changePage(-1)"
            [disabled]="!hasPreviousPage"
            [ngClass]="{'disable-paging-button':!hasPreviousPage}"></button>
    <button class="bi-chevron-right"
            (click)="changePage(+1)"
            [disabled]="!hasNextPage"
            [ngClass]="{'disable-paging-button':!hasNextPage}"></button>
  </div>
</app-main-content>
