<app-main-content blockTitle="İzleme" subTitle="En az bir kriter girmelisiniz">
  <div right>
    <app-main-content-button-group></app-main-content-button-group>
  </div>
  <div class="box p-4 mb-4">
    <div class="alert alert-danger"
         *ngIf="ngForm.submitted &&formGroup.hasError('atLeastOneValueRequired')">Kriter girilmelidir
    </div>
    <form [formGroup]="formGroup" #ngForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="approving">Onaycı</label>
            <input type="text" class="form-control" id="approving" name="approving" formControlName="approving"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="seeking-approval">Onay İsteyen</label>
            <input type="text" class="form-control" id="seeking-approval" name="seeking-approval"
                   formControlName="seekingApproval">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="process">İşlem</label>
            <input type="text" class="form-control" id="process" name="process" formControlName="process"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="stage">Aşama</label>
            <input type="text" class="form-control" id="stage" name="stage" formControlName="stage"
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="stageNo">İşlem No</label>
            <input type="text" class="form-control" id="stageNo" name="stageNo" formControlName="stageNo"
            >
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end mt-4">
        <div class="col-md col-md-auto col-sm-12 d-flex">
          <button class="btn btn-outline-primary me-4 px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 w-100" type='button' (click)="clear(ngForm)">Temizle</button>
          <button class="btn btn-primary px-5 mb-2 mt-2 mb-sm-0 mt-sm-0 w-100" type="submit">Sorgula</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box" *ngIf="show">
    <table class="table table-custom">
      <thead>
      <tr>
        <th class="col-auto">Sözleşme Adı</th>
        <th class="col-auto">Onaycı</th>
        <th class="col-auto">Onay İsteyen</th>
        <th class="col-auto">İşlem</th>
        <th class="col-auto">Aşama</th>
        <th class="col-auto">İşlem No</th>
        <th class="col-auto">Oluşturulma Tarihi</th>
        <th class="col-auto text-end">Durumu</th>
        <th class="col-auto"></th>
        <th class="col-auto"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="c-pointer"
          *ngFor="let row of data"
          [routerLink]="['./detail']">
        <td class="col-auto">{{row.contractName}}</td>
        <td class="col-auto">{{row.approver}}</td>
        <td class="col-auto">{{row.personSeekingApproval}}</td>
        <td class="col-auto">{{row.process}}</td>
        <td class="col-auto">{{row.stage}}</td>
        <td class="col-auto">{{row.stageNo}}</td>
        <td class="col-auto">{{row.createdDate}}</td>
        <td class="status" [ngClass]="{'danger':row.status===0,'warning':row.status===1,'success':row.status===2}">
          {{row.statusText}}
          <span class="status-box"></span>
        </td>
        <td class="col-auto">
          <img src="/assets/img/attachment.png" *ngIf="row.file">
        </td>
        <td class="col-auto">
          <div class="icon">
            <img src="/assets/img/right-arrow.png">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-main-content>
