<ngx-smart-modal #success identifier="success" (onAnyCloseEvent)="redirectToList()">
  <h1>İşlem Başarılı</h1>
  <p>Yeni Onaylama Emri başarıyla gönderildi.</p>
  <div class="button-container">
    <button class="btn btn-primary" (click)="success.close()">Tamam</button>
  </div>
</ngx-smart-modal>
<app-main-content blockTitle="Form ile Emir Ekle" [subTitle]="formTitle">
  <form [formGroup]="formGroup">
    <div class="box p-5">
      <div class="box-title p-0 no-border">Referans</div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="form-group">
            <label for="process">İşlem</label>
            <input type="text" class="form-control" id="process" name="process" formControlName="process"
                   [ngClass]="{ 'is-invalid': submitted && f.process.invalid }">
            <div *ngIf="submitted && f.process.errors" class="invalid-feedback">
              <div *ngIf="f.process.errors.required">İşlem girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="state">Aşama</label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state"
                   [ngClass]="{ 'is-invalid': submitted && f.state.invalid }">
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">Aşama girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="processNo">İşlem No</label>
            <input type="text" class="form-control" id="processNo" name="processNo" formControlName="processNo"
                   [ngClass]="{ 'is-invalid': submitted && f.processNo.invalid }">
            <div *ngIf="submitted && f.processNo.errors" class="invalid-feedback">
              <div *ngIf="f.processNo.errors.required">İşlem No girilmelidir.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-title mt-5 mb-3 p-0 no-border">Onaycı Ekle</div>
      <div class="row mt-3">
        <div class="col-8">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row mb-3">
                <div class="col form-group pl-20px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input scale-2x" type="radio" id="radio2" name="type"
                           formControlName="type"
                           [ngClass]="{ 'is-invalid': submitted && f.type.invalid }"
                           (change)="rdoChanged()" [value]="1">
                    <label class="form-check-label ms-2" for="radio2">TCKN ile</label>
                  </div>
                </div>
                <div class="col form-group pl-20px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input scale-2x" type="radio" id="radio1" name="type"
                           formControlName="type"
                           [ngClass]="{ 'is-invalid': submitted && f.type.invalid }"
                           (change)="rdoChanged()" [value]="2">
                    <label class="form-check-label ms-2" for="radio1">Müşteri No ile</label>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control" id="value" name="value"
                     formControlName="value" maxlength="11"
                     [ngClass]="{ 'is-invalid': submitted && f.value.invalid }">
              <div *ngIf="submitted && !f.type.errors&&f.value.errors" class="invalid-feedback">
                <div *ngIf="f.value.errors.required">{{approvalFormValidationMessage}}</div>
                <div *ngIf="f.value.errors.minlength">TCKN 11 haneli olmalıdır.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div *ngIf="submitted && f.type.errors" class="text-danger">
                <small *ngIf="f.type.errors.required">Lütfen seçim yapınız.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-title mt-5 mb-3 p-0 no-border">Form</div>
      <formio [form]="form" [options]="options" (submit)="submitForm($event)"></formio>
    </div>
    <div class="button-group d-flex align-items-center justify-content-center mt-5">
      <button class="btn btn-primary px-5" (click)="next()">Kaydet</button>
    </div>
  </form>
</app-main-content>
