<ngx-smart-modal #success identifier="success" (onAnyCloseEvent)="redirectToList()">
  <h1>İşlem Başarılı</h1>
  <p>Yeni Onaylama Emri başarıyla gönderildi.</p>
  <div class="button-container">
    <button class="btn btn-primary" (click)="success.close()">Tamam</button>
  </div>
</ngx-smart-modal>

<app-main-content blockTitle="Form ile Emir Ekle" [subTitle]="formTitle">
  <form [formGroup]="formGroup">
    <div class="box p-5">
      <div class="box-title p-0 no-border">Referans</div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="form-group">
            <label for="process">İşlem</label>
            <input type="text" class="form-control" id="process" name="process"
                   formControlName="process"
                   [ngClass]="{ 'is-invalid': submitted && f.process.invalid }">
            <div *ngIf="submitted && f.process.errors" class="invalid-feedback">
              <div *ngIf="f.process.errors.required">İşlem girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="state">Aşama</label>
            <input type="text" class="form-control" id="state" name="state"
                   formControlName="state"
                   [ngClass]="{ 'is-invalid': submitted && f.state.invalid }">
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">Aşama girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="processNo">İşlem No</label>
            <input type="text" class="form-control" id="processNo" name="processNo"
                   formControlName="processNo"
                   [ngClass]="{ 'is-invalid': submitted && f.processNo.invalid }">
            <div *ngIf="submitted && f.processNo.errors" class="invalid-feedback">
              <div *ngIf="f.processNo.errors.required">İşlem No girilmelidir.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-title mt-5 p-0 no-border">Onaycı Ekle</div>
      <div class="row mt-3">
        <div class="col-4">
          <app-person-search (returnListEvent)="getPersonFromChild($event)"
                             [hasError]="submitted && !person"></app-person-search>
          <small *ngIf="submitted && !person" class="text-danger">
            Onaycı seçilmelidir.
          </small>
        </div>
      </div>
      <div class="box-title mt-5 mb-3 p-0 no-border">Form</div>
      <formio [form]="form" [options]="options" (submit)="submitForm($event)"></formio>
    </div>
    <div class="button-group d-flex align-items-center justify-content-center mt-5">
      <button class="btn btn-primary px-5" (click)="next()">Kaydet</button>
    </div>
  </form>
</app-main-content>
