.approval-form{
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  padding-top: 15px;
  margin-top: 1.5rem!important;
}

.table-padding {
  th, td {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }
}
