<div class="form-group">
  <input type="text" class="form-control" [ngClass]="{'is-invalid':hasError}" id="name" name="name" [(ngModel)]="name"
         (keydown.enter)="search($event)" maxlength="50" autocomplete="off">
</div>
<ul class="list-unstyled" id="personList">
  <li *ngFor="let p of persons" (click)="selectPerson(p)"
      [ngClass]="selectedPerson.citizenshipNumber===p.citizenshipNumber?'selected':''"
      class="d-flex justify-content-between align-items-center">
    <span>{{p.first}} {{p.last}}
      ({{p.citizenshipNumber}} - {{p.customerNumber}})</span>
    <i class="bi bi-check" *ngIf="selectedPerson.citizenshipNumber===p.citizenshipNumber"></i>
  </li>
</ul>
