.pdf-viewer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-canvas-container {
  width: 100%;
  height: 500px; /* İhtiyaca göre ayarlanabilir */
  overflow-y: auto; /* Dikey kaydırma etkinleştir */
  border: 1px solid #ccc;
}

canvas {
  width: 100%; /* Canvas genişliği kapsayıcıya uyacak */
  height: auto; /* Oranları koruyarak yüksekliği ayarla */
}

.pdf-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.pdf-controls button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.pdf-controls button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
