<app-main-content blockTitle="Yeni Onaylama Emri" subTitle="Lütfen aşağıdaki alanları doldurunuz">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="box p-15px">
      <div class="form-group">
        <label for="title">Başlık</label>
        <input type="text" class="form-control" id="title" name="title" formControlName="title"
               [ngClass]="{ 'is-invalid': submitted && f.title.invalid }">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Başlık Girilmelidir</div>
        </div>
      </div>
      <div class="title no-border p-0 mt-md-5 mb-md-3 mt-sm-0 mb-sm-0">Referans</div>
      <div class="row">
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="process">İşlem</label>
            <input type="text" class="form-control" id="process" name="process" formControlName="process"
                   [ngClass]="{ 'is-invalid': submitted && f.process.invalid }">
            <div *ngIf="submitted && f.process.errors" class="invalid-feedback">
              <div *ngIf="f.process.errors.required">İşlem bilgisi girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="step">Aşama</label>
            <input type="text" class="form-control" id="step" name="step" formControlName="step"
                   [ngClass]="{ 'is-invalid': submitted && f.step.invalid }">
            <div *ngIf="submitted && f.step.errors" class="invalid-feedback">
              <div *ngIf="f.step.errors.required">Aşama bilgisi girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="processNo">İşlem No</label>
            <input type="text" class="form-control" id="processNo" name="processNo" formControlName="processNo"
                   [ngClass]="{ 'is-invalid': submitted && f.processNo.invalid }">
            <div *ngIf="submitted && f.processNo.errors" class="invalid-feedback">
              <div *ngIf="f.processNo.errors.required">İşlem no bilgisi girilmelidir.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="title no-border p-0  mt-md-5 mb-md-3 mt-sm-0 mb-sm-0">Ayarlar</div>
      <div class="row">
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="validity">Geçerlilik</label>
            <input type="text" class="form-control" id="validity" name="validity" formControlName="validity">
          </div>
        </div>
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="reminderFrequency">Hatırlatma Frekansı</label>
            <input type="text" class="form-control" id="reminderFrequency" name="reminderFrequency"
                   formControlName="reminderFrequency"
                   [ngClass]="{ 'is-invalid': submitted && f.reminderFrequency.invalid }">
            <div *ngIf="submitted && f.reminderFrequency.errors" class="invalid-feedback">
              <div *ngIf="f.reminderFrequency.errors.required">Hatırlatma frekansı girilmelidir.</div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-12">
          <div class="form-group">
            <label for="reminderCount">Hatırlatma Sayısı</label>
            <input type="text" class="form-control" id="reminderCount" name="reminderCount" onlyNumber
                   formControlName="reminderCount">
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary px-5 float-end mt-5" type="submit">Kaydet
    </button>
  </form>
</app-main-content>
