<div class="row">
  <div class="col-auto" *ngIf="data.state">
    <div class="icon">
      <img [src]="'/assets/img/'+data.state+'.png'">
    </div>
  </div>
  <div [class]="data.nameAndSurname?'col-3':'col'">
    <div class="item-title">
      {{data.title}}
    </div>
  </div>
  <div class="col" *ngIf="data.nameAndSurname">
    <div class="name">{{data.nameAndSurname}}</div>
  </div>
  <div class="col" *ngIf="data.date">
    <div class="date">{{data.date}}</div>
  </div>
  <div class="col" *ngIf="data.state!=null">
    <div class="status"
         [ngClass]="data.state|stateClass">{{data.state | state}}
      <span class="status-box"></span>
    </div>
  </div>
  <div class="w-45px d-flex justify-content-end align-items-center">
    <img src="/assets/img/attachment.png" *ngIf="data.isDocument">
  </div>
  <div class="col-auto">
    <div class="icon">
      <img src="/assets/img/right-arrow.png">
    </div>
  </div>
</div>
