<div class="row">
  <div class="col-auto" *ngIf="data.icon">
    <div class="icon">
      <img [src]="'/assets/img/'+data.icon+'.png'">
    </div>
  </div>
  <div [class]="data.name?'col-3':'col'">
    <div class="item-title">
      {{data.title}}
    </div>
  </div>
  <div class="col" *ngIf="data.name">
    <div class="name">{{data.name}}</div>
  </div>
  <div class="col" *ngIf="data.date">
    <div class="date">{{data.date}}</div>
  </div>
  <div class="col" *ngIf="data.status!=null">
    <div class="status"
         [ngClass]="{'danger':data.status===0,'warning':data.status===1,'success':data.status===2}">{{data.statusText}}
      <span class="status-box"></span>
    </div>
  </div>
  <div class="w-45px d-flex justify-content-end align-items-center">
    <img src="/assets/img/attachment.png" *ngIf="data.isDocument">
  </div>
  <div class="col-auto">
    <div class="icon">
      <img src="/assets/img/right-arrow.png">
    </div>
  </div>
</div>
