<ngx-smart-modal #confirmModal identifier="confirmModal">
  <h1>İşlem Başarılı</h1>
  <p>Onay gönderiminiz başarılı olmuştur. <br>Detayları incelemek için tıklayın.</p>

  <div class="button-container">
    <button class="btn btn-primary" [routerLink]="['./completed']">Tamam</button>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #myModal identifier="myModal">
  <h1>Bilgilendirme</h1>
  <p>Onay kaydedilecektir. Emin misiniz?</p>

  <div class="button-container">
    <button class="btn btn-primary" (click)="send()">Kaydet</button>
    <button class="btn btn-outline-primary" (click)="myModal.close()">İptal</button>
  </div>
</ngx-smart-modal>
<app-main-content blockTitle="Onayımdakiler" subTitle="Onayımdakiler | {{detail.title}}">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-3">
      <div class="left-box">
        <div class="left-box-title">{{detail.title}}</div>
        <div class="attachment">
          <img src="/assets/img/attachment.png">
        </div>
        <div class="arrow">
          <img src="/assets/img/right-arrow.png">
        </div>
      </div>
    </div>
    <div class="col-md col-sm-12">
      <div class="box p-3 mb-4" *ngIf="step===1">
        <b class="mb-2 d-block">{{detail.name}}</b>
        <div class="mb-4">{{detail.content}}</div>
        <div *ngIf="detail.actions.length != 0">
          <ng-container *ngIf="detail.actions.length > 1;then radio else check"></ng-container>
          <ng-template #check>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="actionChecked"
                     [checked]="detail.actions[0].isDefault">
              <label class="form-check-label" for="actionChecked">
                {{detail.actions[0].title}}
              </label>
            </div>
          </ng-template>
          <ng-template #radio>
            <div class="form-check" *ngFor="let action of detail.actions; let i = index">
              <input class="form-check-input" type="radio"
                     name="{{ 'flexRadio-' + step }}"
                     id="{{ 'flexRadio-' + i }}"
                     [checked]="action.isDefault">
              <label class="form-check-label" for="{{ 'flexRadio-' + i }}">
                {{action.title}}
              </label>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="box p-3" *ngIf="step===2">
        <b class="mb-2 d-block">2- Mng Hayat Teklif Alma İzni</b>
        <p>
          <a href="#"><img src="/assets/img/attachment.png"> <span class="mx-2">sozlesme_metni.pdf</span></a>
        </p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Okudum, Anladım
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Okudum, Anlayamadım
          </label>
        </div>
      </div>
      <div class="justify-content-center d-flex">
        <button class="btn btn-orange px-5 mt-5" (click)="continue()" *ngIf="step===1">Devam Et
        </button>
        <button class="btn btn-orange px-5 mt-5" (click)="myModal.open()" *ngIf="step===2">Kaydet
        </button>
      </div>
    </div>
  </div>
</app-main-content>
